<div class="jumbotron special-jum jumbotron-new-user">

  <div class="logout">
    <%= link_to "Cancel", "/songs", class: "logout-link" %>
  </div>

  <h1 class="second-title">add a user</h1>

  <div class="col-md-4"></div>
  <div class="col-md-4 signed-in"></div>
  <div class="col-md-4"></div>

</div>


<div class="container">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    Need to add errors
  </div>
  <div class="col-md-4"></div>

</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">

        <%= form_for @user, url:({action: "#{@action}"}) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">

          <%= f.label :fav_genres, "Favorite genres" %>
          <%= f.text_field :fav_genres, class:"form-control" %>
        </div>
          <%= f.submit "Create user", class:"btn btn-default" %>
        <% end %>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>
