<div class="jumbotron special-jum jumbotron-signin">

  <div class="logout">
    <%= link_to "Cancel", "/songs", class: "logout-link" %>
  </div>

  <h1 class="second-title">sign in</h1>

  <div class="col-md-4"></div>
  <div class="col-md-4 signed-in"></div>
  <div class="col-md-4"></div>

</div>


<div class="container">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4"></div>

</div>

  <div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
      <h2>Who are you?</h2>
      <%= link_to 'Sign in with Spotify instead', '/auth/spotify', class:"btn btn-default" %>
      <br>
      <br>

      <h3>Sign In with Email</h3>
      <%= form_for @user, url:({action: "signed_in"}), class:"add-song-form" do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class:"form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password, class:"form-control" %>
      </div>
        <%= f.submit "Login", class:"btn btn-default" %>
      <% end %>

      <h3>Haven't used the site before?</h3>

      <%= link_to "Add a User", new_user_path, method: :get, class:"btn btn-default" %>

    <div class="col-xs-4"></div>
  </div>
</div>
