<div class="jumbotron special-jum jumbotron-index">


    <div class="logout">
      <% if session[:user_id] != nil %>
        <%= link_to "Logout", "/users/logout", class: "logout-link" %>
      <% end %>
    </div>


  <h1 class="main-title">boombox.rb</h1>

  <div class="col-md-4"></div>
  <div class="col-md-4 signed-in">

    <% if session[:user_id] != nil %>
      <span id="hi-name">Hi, <%= User.find(session[:user_id]).name %></span>

      <div class="button-title-box">
        <%= button_to "Suggest a Song", new_song_path, method: :get, class: "btn btn-override" %>
      </div>
    <% else %>
      <div class="button-title-box">
        <%= button_to "Sign In", "/users/signin", method: :get, class: "btn" %>
        <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
      </div>

    <% end %>
  </div>

  <div class="col-md-4"></div>
</div>

<% if @spotify_user != nil %>
  <h1><%= @spotify_user.email %></h1>
<% end %>

<div class="container">
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Votes</th>
      <th>Song</th>
      <th>Artist</th>
      <th>Submitted By</th>
      <% if session[:user_id] != nil %>
        <th>Delete</th>
      <% end %>
    </tr>
  </thead>
  <% @songs.each do |song| %>
    <tr class="row-height">
      <td>
        <% if session[:user_id] != nil %>
          <% if @voted_for != nil %>
            <% if !@voted_for.include? song.id %>
                <%= button_to("/songs/#{song.id}", method: :patch, title: "Upvote", class:"btn btn-default btn-circle"){fa_icon("thumbs-up lg")} %>
            <% end %>
          <% else %>
            <%= button_to("/songs/#{song.id}", method: :patch, title: "Upvote"){fa_icon("thumbs-up lg")} %>
          <% end %>
        <% end %>
      </td>
      <td><span class="badge alert-danger"><%= song.votes %></span></td>
      <td><%= song.name %></td>
      <td><%= song.artist %></td>
      <td>
        <%= link_to song.user.name, user_path(song.user_id)  %>
      </td>
      <td>
        <% if song.user.id == session[:user_id].to_i %>
          <%= button_to("/songs/#{song.id}", onclick: "return confirm('Are you sure you want to remove this song?')", method: :delete, class: "btn btn-default", title: "Delete") {fa_icon("minus-circle")} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

</div>

<iframe class="video-player su-youtube su-responsive-media-yes" width="420" height="315" frameborder="0" autoplay
src="https://www.youtube.com/embed/<%= @first_song %>?playlist=<%= @song_urls_list %>&modestbranding=1&color=white&iv_load_policy=3">
</iframe>
