<div class="image-container">
  <%= image_tag("music_5.jpeg", class: "hero-image") %>
</div>

<div class="page-title-box">
  <h1 class="page-header">boombox.rb</h1>
</div>

<%= button_to "Suggest a Song", new_song_path, method: :get %>

<ul>
  <% @songs.each do |song| %>
    <li>
      <%= button_to "Vote", "/songs/#{song.id}", method: :patch %>
      <%= song.votes %> :
      <%= song.name %>, Submitted by <%= song.user.name %>
      <%= link_to "Delete", "/songs/#{song.id}", method: :delete %>
    </li>
  <% end %>
</ul>
