<div class="image-container">
  <%= image_tag("/music_5.jpeg", class: "hero-image") %>
</div>

<div class="page-title-box">
  <h1 class="page-header">boombox.rb</h1>
</div>

<% if session[:user_id] != nil %>
<div class="logout">
  <%= link_to "Logout", "/users/logout", class: "logout-link" %>
</div>
<% end %>


<% if session[:user_id] != nil %>
  <span id="hi-name">Hi <%= User.find(session[:user_id]).name %></span>
  <div class="button-title-box">
    <%= link_to "Suggest a Song", new_song_path, method: :get, class: "add-song-button" %>
  </div>
<% else %>

  <div class="button-title-box">
    <%= link_to "Sign In", "/users/signin", method: :get, class: "add-song-button" %>
  </div>
<% end %>


<div class="song-list">

<table>
  <thead>
    <tr>
      <th>
      </th>
      <th>
      Votes
      </th>
      <th id="song-name-title">
        &nbsp; &nbsp; Song
      </th>
      <th>
        Artist
      </th>
      <th class="song-user">
        Submitted By
      </th>
    </tr>
  </thead>
  <% @songs.each do |song| %>
    <tr class="song-item">
      <td>
        <% if session[:user_id] != nil %>
          <% if @voted_for != nil %>
            <% if !@voted_for.include? song.id %>
                <%= button_to("/songs/#{song.id}", method: :patch, title: "Upvote"){fa_icon("thumbs-up lg")} %>
            <% end %>
          <% else %>
            <%= button_to("/songs/#{song.id}", method: :patch, title: "Upvote"){fa_icon("thumbs-up lg")} %>
          <% end %>
        <% end %>

      </td>
      <td id="song-votes">
        <%= song.votes %>
      </td>
      <td id="song-name">
        <%= song.name %>
      </td>
      <td id="song-artist">
        <%= song.artist %>
      </td>
      <td class="song-user">
        <%= link_to song.user.name, user_path(song.user_id)  %>
      </td>
      <td id="delete-button">
        <% if song.user.id == session[:user_id].to_i %>

          <%= button_to("/songs/#{song.id}", onclick: "return confirm('Are you sure you want to remove this song?')", method: :delete, title: "Delete") {fa_icon("minus-circle")} %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

</div>



<footer>
  <iframe class="video-player" width="420" height="315" frameborder="0" autoplay
  src="https://www.youtube.com/embed/<%= @first_song %>?playlist=<%= @song_urls_list %>&autoplay=1&modestbranding=1&color=white&iv_load_policy=3">
</iframe>
</footer>
