<div class="jumbotron special-jum jumbotron-new">

  <div class="logout">
    <%= link_to "Cancel", "/songs", class: "logout-link" %>
  </div>

  <h1 class="second-title">suggest a song</h1>

  <div class="col-md-4"></div>
  <div class="col-md-4 signed-in"></div>
  <div class="col-md-4"></div>

</div>


<div class="container">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <% if !@song.nil? %>
    <ul>
      <% @song.errors.each do |column, message| %>
        <li>
          <% if column == :song_url %>
            <strong>Link</strong>
          <% else %>
            <strong><%= column.capitalize %></strong>
          <% end %>
         <%= message %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= form_for @song, class:"add-song-form", url:({action: "#{@action}"}) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :artist %>
          <%= f.text_field :artist, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :song_url, "Youtube Link" %>
          <%= f.text_field :song_url, class:"form-control" %>
        </div>
          <%= f.hidden_field :user_id, :value =>  session[:user_id] %>
          <%= f.hidden_field :votes, :value => 0 %>
          <%= f.submit "Suggest this song", class: "btn btn-default" %>
      <% end %>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
